.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.article {
    width: calc(33.33% - 40px);
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Add responsive styles for Place articles here */

@media (max-width: 768px) {
    .article {
        width: calc(50% - 20px);
    }
}
