header {
<<<<<<< HEAD
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
=======
	background-color: #FF0000;
	height: 70px;
	width: 100%;
}
>>>>>>> ba4fad6f8262ee63c6e1375e968713bf9fe01edb
