body {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #484848;
}
=======
	margin: 0;
	padding: 0;
	font-color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
>>>>>>> ba4fad6f8262ee63c6e1375e968713bf9fe01edb
