.filters {
    display: flex;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
}

.locations, .amenities {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}
