.filters {
    display: flex;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    position: relative;
}

.locations, .amenities {
    flex: 1;
    padding: 10px;
    text-align: center;
    position: relative;
}

.locations h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.popover {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    list-style: none;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
    z-index: 1;
}

.popover ul {
    padding: 0;
}

.popover li {
    padding: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.popover li:last-child {
    border-bottom: none;
}
